<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align: center">Role Name</th>
                <th style="text-align: center">Delete</th>
            </tr>
        </thead>
        <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item</td>
                        <td class="text-center">
                            <a asp-controller="Role" asp-action="Delete" asp-route-name="@item" onclick="confirmDelete()" class="btn btn-info">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    <div class="gap-2 col-3 mx-auto mt-5">
        <a asp-action="Create" class="btn btn-primary">Add New</a>
        <a asp-action="Role" asp-controller="GetAll" class="btn btn-secondary ms-2">Back to list</a>
    </div>
</div>

<script>
    function confirmDelete() 
    {
        let message = confirm("Are You Sure?");
        if(message == false)
            event.preventDefault();
    }
</script> 
