@model IEnumerable<ProjectMVC.Models.Cart>

@{
    ViewData["Title"] = "Index";
}



<!--template code-->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad">
        <!--partial view start-->
        <div id="cartPV" class="container">

        </div>
        <!--partial view end-->


    </section>
    <!-- Shop Cart Section End -->



@section Scripts {

    @* cart scripts *@
    <script src="~/js/cart/cart.js"></script>


    @* paypal scripts *@ 

    @* generated *@
    <script src="https://www.paypal.com/sdk/js?client-id=AemG9j6hUoFVdc8LU2W21YZg_dFJK8DzTkjVszq25WxR_RIBpzUQNOOolAjs-FhOS9vCUwHYJu05qRNx&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>

    @* Modified *@
    <script
        src="https://www.paypal.com/sdk/js?client-id=AWUV0G5WP3ZrEkUpxIiU0ZDKXq8THQTd6bA0_JKJXCDE0CVfIlrsvDnTtiK54QFPhQFuX83RvXTXCjVo&components=buttons"
        data-sdk-integration-source="button-factory" 
        data-namespace="paypal_sdk"> 
    </script>
}
