@model IEnumerable<ProjectMVC.Models.Cart>

@{
    ViewData["Title"] = "Payment Successful";
}


<div class="container">
    <div class = "row" >
        <h1 class="centered">Payment Failed!</h1>
        <h2 class="centered">We are sorry something went wrong.</h2>
    </div>
</div>

