@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<section class="error">
    

    <h1 class="errorh1">Unfortunately, something has gone wrong.</h1>
    <p class="errorp">We're unable to fulfill your request. Rest assured we have been notified and are looking into the issue. Please refresh your browser. If the error continues, please contact our <a href="https://github.com/mhgbr/AcdemicProject" style="color: yellow">support team</a>.</p>
</section>

<style>
    #footer {
    position: relative !important;
    margin: 0;
    }
</style>